@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  color: black;
  overflow-x: hidden;
}

body {
  background-color: white;
  height: 1000vh;
  position: relative;
}

.wrapper {
  height: 100vh;
  position: relative;
}

h1 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  font-size: 10vw;
  visibility: hidden;
}

.car-container {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car {
  z-index: 1;
}

.car2 {
  margin-left: -133.778vw;
  background-image: url("./assets/2.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car3 {
  margin-left: -130.667vw;
  background-image: url("./assets/3.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car4 {
  margin-left: -127.556vw;
  background-image: url("./assets/4.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car5 {
  margin-left: -124.445vw;
  background-image: url("./assets/5.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car6 {
  margin-left: -121.334vw;
  background-image: url("./assets/6.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car7 {
  margin-left: -118.223vw;
  background-image: url("./assets/7.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car8 {
  margin-left: -115.112vw;
  background-image: url("./assets/8.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car9 {
  margin-left: -112.001vw;
  background-image: url("./assets/9.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car10 {
  margin-left: -108.89vw;
  background-image: url("./assets/10.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car11 {
  margin-left: -105.779vw;
  background-image: url("./assets/11.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car12 {
  margin-left: -102.668vw;
  background-image: url("./assets/12.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car13 {
  margin-left: -99.557vw;
  background-image: url("./assets/13.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car14 {
  margin-left: -96.446vw;
  background-image: url("./assets/14.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car15 {
  margin-left: -93.335vw;
  background-image: url("./assets/15.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car16 {
  margin-left: -90.224vw;
  background-image: url("./assets/16.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car17 {
  margin-left: -87.113vw;
  background-image: url("./assets/17.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car18 {
  margin-left: -84.002vw;
  background-image: url("./assets/18.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car19 {
  margin-left: -80.891vw;
  background-image: url("./assets/19.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car20 {
  margin-left: -77.78vw;
  background-image: url("./assets/20.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car21 {
  margin-left: -74.669vw;
  background-image: url("./assets/21.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car22 {
  margin-left: -71.558vw;
  background-image: url("./assets/22.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car23 {
  margin-left: -68.447vw;
  background-image: url("./assets/23.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car24 {
  margin-left: -65.336vw;
  background-image: url("./assets/24.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car25 {
  margin-left: -62.225vw;
  background-image: url("./assets/25.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car26 {
  margin-left: -59.114vw;
  background-image: url("./assets/26.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car27 {
  margin-left: -56.003vw;
  background-image: url("./assets/27.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car28 {
  margin-left: -52.892vw;
  background-image: url("./assets/28.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car29 {
  margin-left: -49.781vw;
  background-image: url("./assets/29.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car30 {
  margin-left: -46.67vw;
  background-image: url("./assets/30.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car31 {
  margin-left: -43.559vw;
  background-image: url("./assets/31.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car32 {
  margin-left: -40.448vw;
  background-image: url("./assets/32.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car33 {
  margin-left: -37.337vw;
  background-image: url("./assets/33.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car34 {
  margin-left: -34.226vw;
  background-image: url("./assets/34.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car35 {
  margin-left: -31.115vw;
  background-image: url("./assets/35.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car36 {
  margin-left: -28.004vw;
  background-image: url("./assets/36.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car37 {
  margin-left: -24.893vw;
  background-image: url("./assets/37.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car38 {
  margin-left: -21.782vw;
  background-image: url("./assets/38.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car39 {
  margin-left: -18.671vw;
  background-image: url("./assets/39.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car40 {
  margin-left: -15.56vw;
  background-image: url("./assets/40.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car41 {
  margin-left: -12.449vw;
  background-image: url("./assets/41.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car42 {
  margin-left: -9.338vw;
  background-image: url("./assets/42.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car43 {
  margin-left: -6.227vw;
  background-image: url("./assets/43.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car44 {
  margin-left: -3.116vw;
  background-image: url("./assets/44.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car45 {
  margin-left: -0.005vw;
  background-image: url("./assets/45.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car46 {
  margin-right: -0.4vw;
  background-image: url("./assets/2.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car47 {
  margin-right: -3.7vw;
  background-image: url("./assets/3.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car48 {
  margin-right: -7vw;
  background-image: url("./assets/4.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car49 {
  margin-right: -10.3vw;
  background-image: url("./assets/5.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car50 {
  margin-right: -13.6vw;
  background-image: url("./assets/6.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car51 {
  margin-right: -16.9vw;
  background-image: url("./assets/7.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car52 {
  margin-right: -20.2vw;
  background-image: url("./assets/8.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car53 {
  margin-right: -23.5vw;
  background-image: url("./assets/9.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car54 {
  margin-right: -26.8vw;
  background-image: url("./assets/10.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car55 {
  margin-right: -30.1vw;
  background-image: url("./assets/11.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car56 {
  margin-right: -33.4vw;
  background-image: url("./assets/12.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car57 {
  margin-right: -36.7vw;
  background-image: url("./assets/13.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car58 {
  margin-right: -40vw;
  background-image: url("./assets/14.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car59 {
  margin-right: -43.3vw;
  background-image: url("./assets/15.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car60 {
  margin-right: -46.6vw;
  background-image: url("./assets/16.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car61 {
  margin-right: -49.9vw;
  background-image: url("./assets/17.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car62 {
  margin-right: -53.2vw;
  background-image: url("./assets/18.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car63 {
  margin-right: -56.5vw;
  background-image: url("./assets/19.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car64 {
  margin-right: -59.8vw;
  background-image: url("./assets/20.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car65 {
  margin-right: -63.1vw;
  background-image: url("./assets/21.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car66 {
  margin-right: -66.4vw;
  background-image: url("./assets/22.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car67 {
  margin-right: -69.7vw;
  background-image: url("./assets/23.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car68 {
  margin-right: -73vw;
  background-image: url("./assets/24.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car69 {
  margin-right: -76.3vw;
  background-image: url("./assets/25.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car70 {
  margin-right: -79.6vw;
  background-image: url("./assets/26.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car71 {
  margin-right: -82.9vw;
  background-image: url("./assets/27.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car72 {
  margin-right: -86.2vw;
  background-image: url("./assets/28.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car73 {
  margin-right: -89.5vw;
  background-image: url("./assets/29.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car74 {
  margin-right: -92.8vw;
  background-image: url("./assets/30.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car75 {
  margin-right: -96.1vw;
  background-image: url("./assets/31.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car76 {
  margin-right: -99.4vw;
  background-image: url("./assets/32.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car77 {
  margin-right: -102.7vw;
  background-image: url("./assets/33.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car78 {
  margin-right: -106vw;
  background-image: url("./assets/34.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car79 {
  margin-right: -109.3vw;
  background-image: url("./assets/35.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car80 {
  margin-right: -112.6vw;
  background-image: url("./assets/36.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car81 {
  margin-right: -115.9vw;
  background-image: url("./assets/37.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car82 {
  margin-right: -119.2vw;
  background-image: url("./assets/38.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car83 {
  margin-right: -122.5vw;
  background-image: url("./assets/39.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car84 {
  margin-right: -125.8vw;
  background-image: url("./assets/40.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car85 {
  margin-right: -129.1vw;
  background-image: url("./assets/41.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car86 {
  margin-right: -132.4vw;
  background-image: url("./assets/42.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car87 {
  margin-right: -135.7vw;
  background-image: url("./assets/43.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car88 {
  margin-right: -139vw;
  background-image: url("./assets/44.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.car89 {
  margin-right: -142.3vw;
  background-image: url("./assets/45.png");
  width: 1200px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  display: none;
}

.text-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.side-text {
  width: 15%;
}
.side-text-1 {
  position: absolute;
  top: 50%;
  left: 18%;
  margin-left: -5%;
  opacity: 0;
  transform: translate(-50%, -50%);
}
.side-text h2 {
  font-size: 2vw;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.side-text p {
  font-weight: 300;
}

.info-graphic {
  width: 15%;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
  margin-left: 5%;
  width: 400px;
}

.info-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.info-text h2 {
  font-size: 120px;
  color: white;
}
.info-text h2 span {
  color: white;
}
.info-text h3 {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

.wrapper-2 {
  height: 100vh;
  width: 200vw;
  background-color: #6f53ca;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline {
  width: 200vw;
  height: 90vh;
  padding: 0 2.5%;
  position: relative;
}
.timeline .line {
  position: absolute;
  width: 95%;
  height: 20px;
  top: 50%;
  background-color: #333;
}
.timeline .item {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.timeline .item .image {
  height: 10vw;
  width: 10vw;
  border-radius: 10vw;
  border: 3px solid #333;
  margin-bottom: 2vh;
}
.timeline .item h4 {
  font-size: 1vw;
}
.timeline .item-1 {
  top: 15%;
  left: 10%;
}
.timeline .item-2 {
  top: 65%;
  left: 30%;
}
.timeline .item-3 {
  top: 15%;
  left: 50%;
}
.timeline .item-4 {
  top: 65%;
  left: 70%;
}
.timeline .item-5 {
  top: 15%;
  left: 90%;
}

/*# sourceMappingURL=style.css.map */
