@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    color: black;
    overflow-x: hidden;
}

body{
    background-color: white;
    height: 1000vh;
    position: relative;
}

.wrapper{
    height: 100vh;
    position: relative;
}



h1{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    font-size: 10vw;
    visibility: hidden;
}

.car-container{
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car{
    z-index: 1;
    
}

@for $i from 2 through 45 {
    .car#{$i}{
        margin-left: (-140vw + 3.111 * $i );
        background-image: url('./assets/'+$i+'.png');
        width: 1200px;
        height: 500px;
        background-size: cover;
        background-position: center center;
        display: none;
    }
}

@for $i from 46 through 89 {
    .car#{$i}{
        margin-right: (6.2vw - 3.3 * ($i - 44) );
        background-image: url('./assets/'+($i - 44)+'.png');
        width: 1200px;
        height: 500px;
        background-size: cover;
        background-position: center center;
        display: none;
    }
}

.text-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.side-text{
    width: 15%;
    &-1{
        position: absolute;
        top: 50%;
        left: 18%;
        margin-left: -5%;
        opacity: 0;
        transform: translate(-50%, -50%);
    }

    h2{
        font-size: 2vw;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    p{
        font-weight: 300;
    }
}

.info-graphic{
    width: 15%;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
    margin-left: 5%;
    width: 400px;
}

.info-text{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    h2{
        font-size: 120px;
        color: white;
        span{
            color: white;
        }
    }
    h3{
        color: white;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.wrapper-2{
    height: 100vh;
    width: 200vw;
    background-color: #6f53ca;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline{
    width: 200vw;
    height: 90vh;
    padding: 0 2.5%;
    position: relative;
    .line{
        position: absolute;
        width: 95%;
        height: 20px;
        top: 50%;
        background-color: #333;
    }
    .item{
        position: absolute;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .image{
            height: 10vw;
            width: 10vw;
            border-radius: 10vw;
            border: 3px solid #333;
            margin-bottom: 2vh;
        }
        h4{
            font-size: 1vw;
        }

        &-1{
            top: 15%;
            left: 10%;
        }

        &-2{
            top: 65%;
            left: 30%;
        }

        &-3{
            top: 15%;
            left: 50%;
        }

        &-4{
            top: 65%;
            left: 70%;
        }

        &-5{
            top: 15%;
            left: 90%;
        }
    }
}